// Button
@mixin btn($bg-color, $color, $br-color) {
    background-color: $bg-color;
    color: $color;
    border-color: $br-color;
}

// Fonts
@mixin fontAbril($f-size) {
    font: {
        family: "Abril Fatface", serif;
        weight: 400;
        size: $f-size;
    }
}
@mixin fontRuthie($f-size) {
    font: {
        family: "Ruthie", cursive;
        weight: 400;
        size: $f-size;
    }
}
@mixin fontPoppins($f-size, $f-weight) {
    font: {
        family: "Poppins", sans-serif;
        weight: $f-weight;
        size: $f-size;
    }
}

// Backgroud image
@mixin bg-img() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Flex
@mixin flex($j-content, $a-items) {
    display: flex;
    justify-content: $j-content;
    align-items: $a-items;
}