header {
    position: relative;
    .fixed_nav {
        position: absolute;
        top: 20px;
        z-index: 100;
        width: 100%;
        box-shadow: 0 3px 6px rgba(0,0,0,.05);
        &.sticky {
            position: fixed !important;
            top: 0;
            width: calc(100% - 40px);
            background-color: $white;
            .header_nav {
                &_menu {
                    color: $black;
                    .button {
                        color: $white;
                    }
                    ul:last-child {
                        border-left-color: rgb(0, 0, 0, .4);
                    }
                }
                &_mobile {
                    color: $black;
                }
            }
        }
    }
    .header_nav {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_logo {
            img {
                max-height: 29px;
            }
        }
        &_menu {
            display: flex;
            color: $white;
            @include media-breakpoint-down(lg) {
                display: none;
            }
            font: {
                family: "Poppins", sans-serif;
                weight: 700;
                size: 1.4rem;
            }
            ul {
                li {
                    display: inline-block;
                    margin: 0 17px;
                    text-transform: uppercase;
                    &:not(.button) {
                        a {
                            border-bottom: 2px solid transparent;
                            &.active, &:hover {
                                color: $golden;
                                border-bottom-color: $golden;
                            }
                        }
                    }
                    &.button {
                        background-color: $golden;
                        padding: 0 9px;
                        margin: 0 8px;
                        line-height: 2.5rem;
                        transition: 0.5s;
                        &:hover {
                            background-color: $golden-dark;
                        }
                    }
                }
                &:last-child {
                    border-left: 1px solid rgb(255, 255, 255, .25);
                    margin-left: 14px;
                    line-height: 2.5rem;
                    li {
                        margin-left: 20px;
                        margin-right: 0;
                        a:hover {
                            border-bottom-color: transparent;
                        }
                        
                    }
                }
            }
            
        }
        &_mobile {
            display: none;
            color: $white;
            font-size: 2.6rem;
            @include media-breakpoint-down(lg) {
                display: block;
            }
        }
    }
}