h2 {
    @include fontAbril(8.5rem);
    @include media-breakpoint-down(md) {
        margin-bottom: 30px;
        font-size: 3.8rem;
    }
}
h3 {
    color: $golden;
    @include fontRuthie(4.5rem);
    @include media-breakpoint-down(md) {
        font-size: 3rem;
    }
}
h4 {
    color: #222222;
    @include fontAbril(4.5rem);
    @include media-breakpoint-down(md) {
        font-size: 3rem;
    }
}
h5 {
    color: $black;
    @include fontPoppins(1.8rem, 600);
}