header {
    .headerSwiper {
        width: 100%;
        margin: 20px 0;
        height: calc(100vh - 40px);
        .swiper-slide {
            @include bg-img();
            .swiper-content {
                height: 100%;
                background-color: $dark-overlay;
                color: $white;
                text-align: center;
                @include flex(center, center);
                span {
                    display: inline-block;
                    font-size: 4.6rem;
                    margin-bottom: 30px;
                }
                p {
                    margin-top: 25px;
                    margin-bottom: 25px;
                    font-weight: 600;
                    @include media-breakpoint-down(md) {
                        font-size: 1.2rem;
                    }
                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                }
            }
        }
        .swiper-button-prev, .swiper-button-next {
            color: $white;
            &::after {
                font-size: 2.6rem;
            }
        }
        .swiper-pagination-bullet {
            background-color: $white;
        }
    }   
}
main {
    .swiper {
        width: 100%;
        margin-top: 30px;
    }
    .testimonialsSwiper {
        .swiper-slide {
            margin-bottom: 50px;
            background-color: $white;
            height: auto;
            .swiper-content {
                position: relative;
                height: 100%;
                padding: 35px;
                &::after {
                    content: '';
                    width: calc(100% - 20px);
                    height: calc(100% - 20px);
                    position: absolute;
                    top: 10px;
                    bottom: 10px;
                    left: 10px;
                    right: 10px;
                    border: 1px dashed $golden;
                }
                .testimonial_star {
                    color: #ffc80a;
                    font-size: 1.2rem;
                    margin-bottom: 18px;
                }
                .testimonial_text p {
                    font-size: 1.5rem;
                    margin-bottom: 25px;
                }
                .testimonial_name {
                    @include flex(center, center);
                    flex-direction: column;
                    img {
                        display: inline-block;
                        height: 42px;
                        width: 42px;
                        border-radius: 100%;
                        border: 2px solid $golden;
                        padding: 2px;
                        margin-bottom: 10px;
                    }
                    span {
                        color: $golden;
                        @include fontPoppins(1.3rem, 700);
                    }
                }
            }
        }
        .swiper-pagination-bullet {
            background-color: $white;
        }
    }
    .newsSwiper {
        .swiper-slide {
            .swiper-content {
                .news_info {
                    color: #686868;
                    @include fontPoppins(1.2rem, 600);
                    &_date {
                        &::after {
                            content: ' /';
                        }
                    }
                    &_tag {
                        color: $golden;
                    }
                }
                .news_title {
                    margin-bottom: 20px;
                    h5 {
                        font-size: 2rem;
                        font-weight: 700;
                    }
                }
                .news_img {
                    margin-bottom: 20px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        transition: 0.5s;
                    }
                    &:hover img {
                        transform: scale(1.2);
                    }
                }
                .news_text {
                    p {
                        color: #666;
                        font-size: 1.4rem;
                    }
                }
                .btn {
                    margin: 20px 0;
                }
            }
        }
    }
}