header {
    position: relative;
    .fixed_nav {
        position: absolute;
        top: 20px;
        z-index: 100;
        width: 100%;
        box-shadow: 0 3px 6px rgba(0,0,0,.05);
        &.sticky {
            position: fixed !important;
            top: 0;
            width: calc(100% - 40px);
            background-color: $white;
            .header_nav {
                &_menu {
                    color: $black;
                    .button {
                        color: $white;
                    }
                    ul:last-child {
                        border-left-color: rgb(0, 0, 0, .4);
                    }
                }
                &_mobile {
                    color: $black;
                }
            }
        }
    }
    .header_nav {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_logo {
            img {
                max-height: 29px;
            }
        }
        &_menu {
            display: flex;
            color: $white;
            @include media-breakpoint-down(lg) {
                display: none;
            }
            @include fontPoppins(1.4rem, 700);
            ul {
                li {
                    display: inline-block;
                    margin: 0 17px;
                    text-transform: uppercase;
                    &:not(.button) {
                        a {
                            border-bottom: 2px solid transparent;
                            &.active, &:hover {
                                color: $golden;
                                border-bottom-color: $golden;
                            }
                        }
                    }
                    &.button {
                        background-color: $golden;
                        padding: 0 9px;
                        margin: 0 8px;
                        transition: 0.5s;
                        &:hover {
                            background-color: $golden-dark;
                        }
                    }
                }
                &:last-child {
                    border-left: 1px solid rgb(255, 255, 255, .25);
                    margin-left: 14px;
                    li {
                        margin-left: 20px;
                        margin-right: 0;
                        a:hover {
                            border-bottom-color: transparent;
                        }
                        
                    }
                }
            }
        }
        &_mobile {
            display: none;
            color: $white;
            font-size: 2.6rem;
            @include media-breakpoint-down(lg) {
                display: block;
            }
        }
    }
}
.pagetitle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 20px 0;
    height: calc(100vh - 80px);
    text-align: center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .bg-overlay {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(27,26,26,.65);
        display: block;
    }
    .pagetitle_content {
        position: relative;
        z-index: 3;
        color: $white;
        h2 {
            font-size: 4.5rem;
            margin-bottom: 80px;
        }
        .breadcrumb li {
            display: inline-block;
            margin-bottom: 60px;
            @include fontPoppins(1.4rem, 400);
            &:not(:last-child)::after {
                content: " /";
                margin: 0 10px;
                color: $white !important;
            }
            &:not(:last-child):hover {
                color: $golden;
            }
            &:last-child {
                color: $golden;
            }
        }
    }
}