.contact {
    &_text {
        @include media-breakpoint-down(md) {
            margin-bottom: 50px;
        }
        h6 {
            margin-top: 30px;
            margin-bottom: 20px;
            font: {
                family: "Poppins", sans-serif;
                weight: 600;
                size: 1.7rem;
            }
        }
        p {
            color: #a5a5a5;
            line-height: 2.4rem;
            font-size: 1.4rem;
            margin-bottom: 5px;
        }
        .link {
            text-transform: uppercase;
            color: $golden;
            font: {
                family: "Poppins", sans-serif;
                weight: 700;
                size: 1.4rem;
            }
            &:hover {
                color: $golden-dark;
            }
        }
        .social_media li {
            display: inline-block;
            margin-right: 8px;
            a {
                display: inline-block;
                height: 42px;
                width: 42px;
                background-color: #1c1c1c;
                color: $white;
                line-height: 42px;
                font-size: 1.4rem;
                text-align: center;
                transition: 0.5s;
                &:hover {
                    background-color: $golden;
                }
            }
        }
    }
    &_form {
        input, textarea {
            width: 100%;
            padding: 8px 20px;
            margin-bottom: 29px;
            background-color: $white;
            color: #9b9b9b;
            border: 2px solid #eee;
            transition: 0.5s;
            line-height: 3rem;
            font: {
                family: "Poppins", sans-serif;
                weight: 400;
                size: 1.3rem;
            }
            &:focus {
                outline: none;
                border-color: $golden;
            }
        }
        textarea {
            resize: vertical;
        }
        .btn {
            width: 100%;
            margin: 0;
            text-align: center;
            border-radius: 2px;
        }
    }
}
iframe {
    width: 100%;
    height: 300px;
}